[run]
source = .
omit = 
    venv/*
    base_project_pet_ctrl/*
    manage.py
    staffs/*
    pets/*
    reports/*
    staffs/*
    owners/*
    permissions/*
    services/*
    owners/*

[report]
show_missing = True